doctype 5
html
  head
    meta(content="text/html, charset=UTF-8", http-equiv="Content-Type")
    meta(content="IE=7;IE=8", http-equiv="X-UA-Compatible")
    meta(content="initial-scale=1, maximum-scale=1, user-scalable=no", name="viewport")
    title= title
    -each style in styles
      link(rel='stylesheet', href=style)
  body.nihilo
    block content
  -each script in scripts
    script(defer, src=script)
